<section id="plans">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 pe-5">
        <div class="parent-plan p-4">
          <div class="paln p-3">
            <h3>Regular</h3>
            <div class="describe">
              <p>
                <i class="fas fa-check green"></i>
                FlixTV Originals
              </p>
              <p>
                <i class="fas fa-check green"></i>
                Switch plans or cancel anytime
              </p>
              <p>
                <i class="fas fa-times red"></i>
                Reg Stream 65+ top Liveular
              </p>
              <p>
                <i class="fas fa-times red"></i>
                TV channels
              </p>
            </div>
            <h4>
              <span>$15.99</span>
              / month
            </h4>
            <button class="plan-btn w-100 rounded-pill">selec Plan</button>
          </div>
        </div>
      </div>

      <!-- ************ plan center  ********* -->
      <div class="col-lg-4 col-md-6 plan-center pe-5">
        <div class="parent-plan-center p-4">
          <div class="paln p-3">
            <h3>Regular</h3>
            <div class="describe">
              <p>
                <i class="fas fa-check green"></i>
                FlixTV Originals
              </p>
              <p>
                <i class="fas fa-check green"></i>
                Switch plans or cancel anytime
              </p>
              <p>
                <i class="fas fa-check green"></i>
                Reg Stream 65+ top Liveular
              </p>
              <p>
                <i class="fas fa-times red"></i>
                TV channels
              </p>
            </div>
            <h4>
              <span>$59.99</span>
              / month
            </h4>
            <button class="plan-btn w-100 rounded-pill">selec Plan</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pe-5">
        <div class="parent-plan p-4">
          <div class="paln p-3">
            <h3>Regular</h3>
            <div class="describe">
              <p>
                <i class="fas fa-check green"></i>
                FlixTV Originals
              </p>
              <p>
                <i class="fas fa-check green"></i>
                Switch plans or cancel anytime
              </p>
              <p>
                <i class="fas fa-check green"></i>
                Reg Stream 65+ top Liveular
              </p>
              <p>
                <i class="fas fa-check green"></i>
                TV channels
              </p>
            </div>
            <h4>
              <span>$99.99</span>
              / month
            </h4>
            <button class="plan-btn w-100 rounded-pill">selec Plan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
