<section class="mt-5 pt-2">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [maxSize]="5"
        (pageChange)="pageChanged($event)"
        [boundaryLinks]="true"
      ></ngb-pagination>

      <div class="col-lg-3 col-md-6 d-flex flex-column justify-content-center">
        <hr class="w-50 mb-4 border-1 border" />
        <h2>
          trending Tv <br />
          to watch right now
        </h2>
        <p>trending movies to watch right now</p>
        <hr class="w-75 mt-2 border-1 border" />
      </div>

      <div *ngFor="let tv of trendingTv" class="col-lg-3 col-md-6">
        <div class="tv position-relative py-2">
          <img
            class="w-100"
            [src]="
              tv.poster_path != null
                ? imgPrefix + tv.poster_path
                : '../../../../assets/images (1).jpg'
            "
            alt=""
          />

          <div class="cpation">
            <div class="vote d-flex justify-content-between px-3 pt-2">
              <span class="p-1 bg-primary rounded-3">
                {{ tv.vote_average }}<i class="fas fa-star fa-1x ps-2"></i
              ></span>
              <span class="p-1 rounded-3 bg-secondary">
                {{ tv.original_language }}</span
              >
            </div>

            <div class="movie-details">
              <a
                class="text-decoration-none"
                [routerLink]="['/Tv-Details', tv.id, tv.media_type]"
              >
                More Details
                <i class="fas fa-link ps-2"></i>
              </a>

              <div>
                <h3 class="h6 pt-3">{{ tv.title }}</h3>
                <h3 *ngIf="tv.media_type == 'tv'" class="h6 pt-3">
                  {{ tv.name }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
