<footer>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6 align-self-center">
        <p class="">
          Movies & TV Shows, actors of cinema, Movie database HTML Template.
        </p>
        <div classs="icon ">
          <ul class="p-0">
            <li class="facebook"><i class="fab fa-facebook"></i></li>
            <li class="twtter"><i class="fab fa-linkedin"></i></li>
            <li class="twtter"><i class="fab fa-twitter"></i></li>
            <li class="inst"><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-3">
        <h5 class="footer-title">Movies</h5>
        <p class="footer-link">About us</p>
        <p class="footer-link">My profile</p>
        <p class="footer-link">Pricing plans</p>
        <p class="footer-link">Contacts</p>
      </div>

      <div class="col-lg-2 col-3">
        <h5 class="footer-title">Browse</h5>
        <p class="footer-link">Live TV</p>
        <p class="footer-link">Live News</p>
        <p class="footer-link">Live Sports</p>
        <p class="footer-link">Stream Library</p>
      </div>

      <div class="col-lg-2 col-3">
        <h5 class="footer-title">Movies</h5>
        <p class="footer-link">TV Shows</p>
        <p class="footer-link">Movies</p>
        <p class="footer-link">Kids</p>
        <p class="footer-link">Collections</p>
      </div>

      <div class="col-lg-2 col-3">
        <h5 class="footer-title">Help</h5>
        <p class="footer-link">Account & Billing</p>
        <p class="footer-link">Plans & Pricing</p>
        <p class="footer-link">Supported devices</p>
        <p class="footer-link">Accessibility</p>
      </div>
      <div class="col-12 text-center  reserved">
        Copyright ©2021 All rights reserved | This template designed & Developed by <a href="https://github.com/Mustafa-Saber" target="_blank">Mustafa Saber</a>

      </div>
    </div>
  </div>
</footer>
