<nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-2 w-100">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-flex align-items-center" routerLink="home">
      <img
        src="../../../assets/mybrowseraddon48.png"
        alt=""
        class="w-750 pe-2"
      />
      Movies</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-component ms-auto mb-2 mb-lg-0">
        <li (click)="navActive($event)" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"
            >Home</a
          >
        </li>
        <li (click)="navActive($event)" class="nav-item">
          <a class="nav-link" routerLink="movies">Movies</a>
        </li>
        <li (click)="navActive($event)" class="nav-item">
          <a class="nav-link" routerLink="about-us">aboutb us</a>
        </li>
        <li (click)="navActive($event)" class="nav-item">
          <a class="nav-link" routerLink="bookink">Bookink</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-3 d-lg-flex d-sm-none flex-row mb-lg-0">
        <li dclass="nav-item  ps-2">
          <a class="nav-link active" aria-current="page" routerLink="home"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="home"
            ><i class="fab fa-facebook"></i
          ></a>
        </li>

        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="home"
            ><i class="fab fa-youtube"></i
          ></a>
        </li>

        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="home"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="signIn">
            login
            <i class="fas fa-sign-in-alt ps-2 text-info"></i>
          </a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link" routerLink="signUp">register</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a
            class="nav-link"
            (click)="this._AuthService.logOut()"
            routerLink="signUp"
          >
            <i class="fas fa-power-off"></i>
            logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
