.active {
  color: #fff ;
border-bottom: 3px solid #385898;
}
nav {
  transition: bacound-colorkgr 0.5s 0.5s ease-in-out, opacity 0.5s linear;
}

.navShow {
  position: fixed;
  width: 100%;
  padding: .5rem !important;
  background-color: #131722 !important;
  opacity: 0.7;
  z-index: 999999;
  
}
ul li {
  cursor: pointer;
}


.fa-sign-in-alt ,.fa-power-off{
  color: #6b8ac9 !important;
  border: 0 !important;
}

ul .facebook i {
  color: #385898 !important ;
}
ul .youtube i {
  color: red !important ;
}

ul .twtter i {
  color: #1a8cd8;
}
ul .insta i {
  color: #db518b;
}