<section class="m-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 position-relative">
        <div class="movie">
          <img
            *ngIf="media_type === 'tv' || media_type === 'movie'"
            class="w-100"
            [src]="imgPrefix + moveDtetails.poster_path"
            alt=""
          />
          <img
            *ngIf="media_type === 'person'"
            class="w-100"
            [src]="imgPrefix + moveDtetails.profile_path"
            alt="000"
          />

          <div>
            <div class="vote top-0 end-0 pt-2 position-absolute">
              <span class="p-1 rounded-3 bg-primary">
                {{ moveDtetails.vote_average }}</span
              >
            </div>
            <div class="lang top-0 start-0 pb-2 position-absolute">
              <span class="p-1 rounded-3 bg-secondary">
                {{ moveDtetails.original_language }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 offset-1">
        <div class="cpation">
          <h2 class="pt-3 my-4">{{ moveDtetails.title }}</h2>
          <p class="mt-5">{{ moveDtetails.overview }}</p>
        </div>
        <div class="col-md-12 d-flex justify-content-between">
          <div class="" *ngFor="let movie of moveDtetails.spoken_languages">
            <h5>languages : {{ movie.english_name }}</h5>
          </div>
          <p class="h5">runtime : " {{ moveDtetails.runtime }} minut "</p>
          <p class="fw-bold h5">
            release date : {{ moveDtetails.release_date.sort("-") }}
          </p>
        </div>
        <div class="col-md-12 pt-3">
          <div *ngFor="let movie of moveDtetails.production_countries">
            <h4>production countries : {{ movie.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
