@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Quintessential&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #131722 !important;
  color: #fff;
  font-family: "Quintessential", cursive;
  text-transform: capitalize;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 0 2em;
}
ul.pagination li.page-item {
  /* border: 1px solid #fff; */
  /* background: #0d6efd; */
}
ul.pagination li.page-item a.page-link {
  padding: 0 0.2em;
  color: #fff;
  background: #0d6efd;

  /* background-color: transparent !important; */
  /* border: #0d6efd; */
}
