.movie-controls {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  text-transform: uppercase;
  background-color: #131720;
  color: #2f80e1;
  border-color: #2f80e1;
}
.active {
  color: white;
  border-bottom: 3px solid #2f80e1;
}

.nav-title {
  background-color: #151f30;
  width: fit-content;
  transform: skew(0deg, 10deg);
}

@media screen and (max-width: 750px) {
  .movie-controls {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  /* .nav-title {
 
    transform: skew(0deg, 0deg);
  } */
  .nav-btn {
    padding-top: 2rem;
    justify-content: center !important;
  }
  button {
    font-size: 0.7rem;
  }
}

/* .nav-btn{

    transform: skew(0deg, 10deg);

} */

/* .nav-title::after{
    content: '';
    width: 0;
    height: 0;
    position:absolute;
    top: 0;
    left: 100%;
padding: 0  0 .08rem;

    border-width: 27px 27px 27px 27px;
    border-style: solid;
    border-color: transparent transparent #151F30 #151F30;

} */
